<div class="artworks-wrapper">

  <!-- Header -->
  <%= partial "artworks_header" %>

  <div class="artworks-inner-wrapper">
    <div class="artworks-index">
      <div class="grid">

        <% data.art.artworks.each do |artwork| %>
        <% @artwork = artwork %>

          <!-- Miniature images of the artworks -->
          <div class="miniature" style="<%= artwork.style %>" id="<%= artwork.id %>">
            <%= image_tag artwork.image, alt: artwork.name, class: 'artwork', id: "artwork-#{artwork.id}" %>

            <div class="filter">
              <h2><%= artwork.name %></h2>
            </div>
          </div>

          <!-- Modal -->
          <%= partial "modal" %>

        <% end %>

      </div>
    </div>
  </div>

</div>
